@import "tailwindcss";

.app-view-content {
/*  flex flex-col gap-10 mt-20 mx-10 lg:mx-50 */
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 10);
  margin-top: calc(var(--spacing) * 20);
  margin-inline: calc(var(--spacing) * 10);
  font-size: var(--text-base); /* 1rem (16px) */
  line-height: var(--text-base--line-height); /* calc(1.5 / 1) */
}

.app-menu-button {
/*  p-5 rounded-4xl duration-150 hover:bg-white/10 */
  padding: calc(var(--spacing) * 4);
  border-radius: var(--radius-md);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  transition-duration: 150ms;
}
.app-menu-button:hover {
  background-color: rgba(255,255,255,0.9);
  color: var(--color-fuchsia-900);
}
.app-submenu-button {
  /*  p-5 rounded-4xl duration-150 hover:bg-white/10 */
  padding: calc(var(--spacing) * 4);
  border-radius: var(--radius-md);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  transition-duration: 150ms;
}
.app-submenu-button:hover {
  background-color: rgba(112,26,117,0.1);
  color: var(--color-fuchsia-900);
}

.app-section-block {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 3);
}

.app-section-title {
/*  text-2xl lg:text-4xl font-bold */
  font-size: var(--text-2xl); /* 1.5rem (24px) */
  line-height: var(--text-2xl--line-height); /* calc(2 / 1.5) */
  font-weight: 700;
  padding-block: calc(var(--spacing) * 2);
}

.app-link {
  color: var(--color-fuchsia-900);
  margin-inline-end: auto;
}
.app-link:hover {
  color: var(--color-fuchsia-800);
}

.app-form-field {
/*  block w-full py-1.5 px-3 text-gray-800 border-gray-300 border-2 transition duration-500 focus:outline-none focus:border-fuchsia-800 rounded caret-fuchsia-800*/
  display: block;
  width: 100%;
  padding-block: calc(var(--spacing) * 1.5);
  padding-inline: calc(var(--spacing) * 3);
  color: var(--color-gray-800);
  border-color: var(--color-gray-300);
  border-width: 2px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-timing-function: var(--default-transition-timing-function); /* cubic-bezier(0.4, 0, 0.2, 1) */
  transition-duration: 500ms;
  border-radius: var(--radius-md);
  caret-color: var(--color-fuchsia-800);
}
.app-form-field:focus {
  outline: none;
  border-color: var(--color-fuchsia-800);
}

.app-button {
/*  block py-1.5 bg-fuchsia-900 text-white rounded transition duration-500 hover:bg-fuchsia-700 cursor-pointer*/
  display: block;
  padding-block: calc(var(--spacing) * 1.5);
  padding-inline: calc(var(--spacing) * 3);
  /*background-color: var(--color-fuchsia-900);*/
  background-color: rgb(112,26,117,0.8);
  color: var(--color-white);
  border-radius: var(--radius-md);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-timing-function: var(--default-transition-timing-function); /* cubic-bezier(0.4, 0, 0.2, 1) */
  transition-duration: 500ms;
  cursor: pointer;
}
.app-button:hover {
  background-color: var(--color-fuchsia-700);
}

/* lg */
@media (width >= 64rem) {
  .app-view-content {
    margin-inline: calc(var(--spacing) * 50);
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }

  .app-menu-button {
    display: block;
    padding: calc(var(--spacing) * 7);
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  .app-menu-button:hover {
     background-color: rgba(255,255,255,0.1);
      color: var(--color-white);
   }
  .app-submenu-button {
    display: block;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }

  .app-section-title {
    font-size: var(--text-4xl); /* 2.25rem (36px) */
    line-height: var(--text-4xl--line-height); /* calc(2.5 / 2.25) */
  }
}

/* xl */
@media (width >= 80rem) {
  .app-menu-button {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
  }
  .app-submenu-button {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
  }
}
